* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Spartan', sans-serif;
  scroll-behavior: smooth;
  font-size: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body::before {
  content: "";
  background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/ce03a760bbba4b1b2382d0237ef75a004586b53a/social-proof-section-master/images/bg-pattern-top-mobile.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
}

main {
  margin: 5% auto;
  width: 90%;
}

@media only screen and (min-width: 1200px) {
  main {
    width: 1300px;
    margin: 30px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

img {
  border-radius: 50%;
  width: 40px;
}

.main-caption {
  text-align: center;
  color: #502050;
}

.main-caption__bold {
  padding: 1.2em;
  line-height: 1;
  font-weight: 700;
  font-size: 40px;
  margin-top: 1em;
}

.main-caption__thin {
  padding: 0.6em;
  line-height: 1.8;
  margin-top: -1em;
}

@media only screen and (min-width: 1200px) {
  .main-caption {
    margin-top: 0;
    width: 450px;
  }
  .main-caption__bold, .main-caption__thin {
    text-align: left;
  }
  .main-caption__bold {
    margin-top: -20px;
    margin-left: -45px;
    font-size: 45px;
    font-weight: 700;
  }
}

.rating-box {
  color: #502050;
  text-align: center;
  margin-top: 2em;
}

.rating-box__box {
  background-color: #eeee;
  padding: 1em;
  height: 40px;
  margin-top: 16px;
  position: relative;
}

.rating-box__box::before {
  content: "";
  top: 8px;
  margin-left: -55px;
  width: 100px;
  height: 16px;
  position: absolute;
  background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/59dadb33625d22900067867f467a061fb8db6892/social-proof-section-master/images/icon-star.svg");
  background-repeat: repeat-x;
  background-repeat: space;
  padding-top: 1em;
}

.rating-box__box p {
  padding: 1em 0 0 0;
  margin-top: 0.5em;
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  .rating-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rating-box__box {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rating-box__box p {
    padding: 1em;
  }
  .rating-box__box:nth-child(2) {
    margin: 1.3em auto;
  }
  .rating-box__box:nth-child(3) {
    margin-top: 2px;
    margin-left: 85px;
  }
  .rating-box__box::before {
    display: none;
  }
  .rating-box__box p {
    margin-left: 90px;
  }
  .rating-box__box p::before {
    content: "";
    background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/59dadb33625d22900067867f467a061fb8db6892/social-proof-section-master/images/icon-star.svg");
    width: 100px;
    height: 16px;
    position: absolute;
    background-repeat: repeat-x;
    background-repeat: space;
    left: 60px;
  }
}

.comment {
  margin-top: 3.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(335px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  gap: 0.9em;
  color: white;
  max-width: 100%;
}

.comment__box {
  background-color: #502050;
  border-radius: 12px;
  max-width: 100%;
}

.comment__profile {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__profile .profile-name {
  margin-left: 1.5em;
}

.comment__profile .profile-name .name {
  font-weight: 700;
}

.comment__profile .profile-name .status {
  color: #ee68a4;
  font-size: 14px;
  margin-top: 5px;
}

.comment__text {
  padding: 2em;
  line-height: 1.7;
  margin-top: -20px;
}

@media only screen and (min-width: 1200px) {
  .comment {
    grid-column: -3/-1;
  }
  .comment__box:nth-child(1) {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  .comment__box:nth-child(3) {
    margin-top: 15px;
    margin-bottom: -15px;
  }
}
/*# sourceMappingURL=style.css.map */