
//* Custom properties/variables  
$VeryDarkMagenta:  hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$darkGreyMagenta:  hsl(303, 10%, 53%);
$white : hsl(0, 0%, 100%);


// base reset 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Spartan', sans-serif;
  
  scroll-behavior: smooth;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
// main
main{
  margin: 5% auto;
  width: 90%;
  
}
@media only screen and (min-width: 1200px){
  main{
    width: 1400px;
    // border: solid black 1px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
img{
  border-radius: 50%;
  width: 40px;
}

// main caption
.main-caption{
  text-align: center;
  color: $VeryDarkMagenta;
  &__bold{
    padding: 1.2em;
    line-height: 1;
    font-weight: 700;
    font-size: 40px;
    margin-top: 1em;
  }
  &__thin{
    padding: 0.6em;
    line-height: 1.8;
    margin-top: -1em;
  }
}
@media only screen and (min-width: 1200px){
  .main-caption{
    margin-top:0;
    width: 450px;
    &__bold, &__thin{
      text-align: left;
    }
    &__bold{
      margin-top: -20px;
      margin-left: -45px;
      font-size: 45px;
      font-weight: 700;
    }
  }
}

// rating box
.rating-box{
  color: $VeryDarkMagenta;
  text-align: center;
  margin-top: 2em;
  // background-color: #eeee;
  &__box{
    background-color: #eeee;
    padding: 1em;
    height: 40px;
    margin-top: 16px;
    position: relative;
    // height: 50px;
    &::before{
      content: "";
      top: 8px;
      margin-left: -55px;
      // margin: auto;
      width: 100px;
      height: 16px;
      position: absolute;
      background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/59dadb33625d22900067867f467a061fb8db6892/social-proof-section-master/images/icon-star.svg");
      // background-position: left center;
      background-repeat: repeat-x;
      background-repeat: space;
      padding-top: 1em;
      
    }
    p{
      padding: 1em 0 0 0;
      margin-top: 0.5em;
      font-weight: 700;
    }
  }
}
@media only screen and (min-width: 1200px){
  .rating-box{
    // border: black solid 1px;
    display: flex;
    flex-direction: column;
   
    &__box{
      width: 80%;
      display: flex;
      justify-content: center;
      // border: black solid 1px;
      align-items: center;
      p{
        padding: 1em;
      }
     
    }
    &__box:nth-child(2){
      margin: 1.3em auto;
    }
    &__box:nth-child(3){
      margin-top: 2px;
      margin-left: 85px;
    }
    &__box::before{
     display: none;
    }
    &__box{
      p{
        margin-left: 90px;
      }
      p::before{
        content: "";
        background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/59dadb33625d22900067867f467a061fb8db6892/social-proof-section-master/images/icon-star.svg");
        width: 100px;
        height: 16px;
        position: absolute;
        background-repeat: repeat-x;
        background-repeat: space;        
        left: 60px;
      }
    }
  }
}

// end rating box

// start comment section

.comment{
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(390px,1fr));
  gap: 0.9em;
  color: $white;
  &__box{
    background-color: $VeryDarkMagenta;
    border-radius: 12px;
  }
  &__profile{
    padding: 2em;
    display: flex;
   
    .profile-name{
      margin-left: 1.5em;
      .name{
        font-weight: 700;
      }
      .status{
        color: $SoftPink;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
  &__text{
    padding: 2em ;
    line-height: 1.7;
    margin-top: -20px;
  }
}
@media only screen and (min-width: 1200px){
  .comment{
    grid-column: -3/-1;
  }
}