// PUBLIC COLOR
// #Primary
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

// #Neutral
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$gradient: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);

// MIXIN BOX CENTER
@mixin flexBox($direction, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  flex-direction: $direction;
}

@mixin text-content-p($pad) {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(167, 159, 159);
  font-weight: 300;
  padding: $pad;
 
}
@mixin text-content-h($padding, $font-size) {
  font-weight: 300;
  font-size: $font-size;
  padding: $padding;
  color: $DarkBlue;

}
// MIXIN BUTTON
@mixin buton {
  margin-top: 30px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
  color: $White;
  font-weight: 700;
}

// base reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

// START HEADER -------------------
header{
  position: fixed;
  width: 100%;
  z-index: 6;
  .navbar{
    // border: black solid 1px;
    @include flexBox(row, space-between);
    padding: 1rem;
    background-color: $White;
    .menus{
      display: none;
    }
  }
}
// END HEADER ---------------------

// START LANDING PAGE -------------
.landing-page{
  position: relative;
  margin: auto;
  &__jumbotron{
    // border: black solid 1px;
    width: 90%;
    margin: auto;
    // margin-top: -;
   .image{
     max-width: 100%;
     position: relative;
     top: -80px;
   } 
  }
  &::after{
    content: "";
    position: absolute;
    top: -30px;
    width: 100%;
    height: 100%;
    background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/33a3606413187f1de87b9272d41e9b4217ab369d/easybank-landing-page-master/images/bg-intro-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__intro{
    width: 90%;
    margin: auto;
    margin-top: -40px;
    text-align: center;
    color: $DarkBlue;
    h1{
      @include text-content-h(0 1rem, 2rem);
    }
    p{
      @include text-content-p(0 1rem);
    }
    .btn{
      margin-top: 30px;
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 20px;
      background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
      color: $White;
      font-weight: 700;
    }
  }
}

// END LANDING PAGE ---------------

// START REASON SECTION
.reason-section{
  background-color: $VeryLightGray;
  margin-top: 4rem;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &__intro{
    text-align: center;
    h1{
      @include text-content-h(0 2rem, 2rem);
    }
    p{
      @include text-content-p(0 1.5rem);
      // padding: 0 1rem;
    }
  }
  &__reason-box{
    margin-top: 3rem;
    text-align: center;
    h3{
      @include text-content-h(1rem 0 0 0, 1rem)
      
    }
    p{
       @include text-content-p(0 1.5rem);
      //  padding: 0 1rem;
    }
  }
}
// END REASEON SECTION -------------------

// START ARTICLES SECTION
.articles{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  width: 90%;
  margin: auto;
  padding: 4rem 0;
  // border: black solid 1px;
  .caption{
    text-align: center;
    h1{
      @include text-content-h(1rem, 1.7rem)
    }
  }
  .box-articles{
    // background-color: hotpink;
    // padding: 0 1.3rem;
    margin-top: 1rem;
    img{
      max-width: 100%;
    }
    article{
      padding: 1.5rem;
      span{
        color: gray;
        font-size: 0.5rem;
      }
      .title-article{
        color:  $DarkBlue;
        font-weight: 300;
        margin-top: 0.5rem;
      }
      p{
        font-weight: 300;
        font-size: 0.9rem;
        color: gray;
        margin-top: 0.7rem;
      }
    }
  }
}
// END ARTICLES SECTION

// START FOOTER
  footer{
    padding: 2rem 0;
    text-align: center;
    background-color: $DarkBlue;
    .logo{
     fill: white;
    }
    .sm{
      margin-left: 0.4rem;
      padding: 1.5rem 0;
    }
    .about{
      color: $VeryLightGray;
      font-size: 0.9rem;
      line-height: 2;
      font-weight: 200;
    }
    .btn{
      @include buton();
    }
    .rights{
      @include text-content-p(1rem)
    }
  }
// END FOOTER
