* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 6;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  background-color: white;
}

header .navbar .menus {
  display: none;
}

header .navbar .btn {
  display: none;
}

header .navbar .fa-bars {
  cursor: pointer;
}

header .navbar .show {
  -webkit-box-shadow: 32px 200px 381px 112px rgba(0, 0, 0, 0.5);
          box-shadow: 32px 200px 381px 112px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: white;
  top: 4rem;
  padding: 2rem 0;
  width: 90%;
}

header .navbar .show li {
  list-style: none;
  padding: 0 8rem;
  cursor: pointer;
  line-height: 2;
  color: gray;
}

header .navbar .show li:hover {
  background-color: #e4dbdb;
}

@media screen and (min-width: 600px) {
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar .logo {
    margin-left: 3rem;
  }
  header .navbar .fa-bars {
    display: none;
  }
  header .navbar .btn {
    margin-top: 30px;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(#00d192), color-stop(#00cbbb), color-stop(#00c2d4), to(#2bb7da));
    background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
    color: white;
    font-weight: 700;
    margin-top: 0;
    display: inline-block;
  }
  header .navbar .menus {
    margin: auto;
    margin-right: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar .menus__sub-menu {
    position: relative;
    color: #9698a6;
    margin-left: 2rem;
    list-style: none;
    font-size: 0.8rem;
    cursor: pointer;
  }
  header .navbar .menus__sub-menu:hover::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 3rem;
    background-color: green;
    top: 2rem;
    left: 0;
  }
}

.landing-page {
  position: relative;
  margin: auto;
}

.landing-page__jumbotron {
  width: 90%;
  margin: auto;
}

.landing-page__jumbotron .image {
  max-width: 100%;
  position: relative;
  top: -80px;
}

.landing-page::after {
  content: "";
  position: absolute;
  top: -30px;
  width: 100%;
  height: 100%;
  background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/33a3606413187f1de87b9272d41e9b4217ab369d/easybank-landing-page-master/images/bg-intro-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.landing-page__intro {
  width: 90%;
  margin: auto;
  margin-top: -40px;
  text-align: center;
  color: #2d314d;
}

.landing-page__intro h1 {
  font-weight: 300;
  font-size: 2rem;
  padding: 0 1rem;
  color: #2d314d;
}

.landing-page__intro p {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.9rem;
  color: #a79f9f;
  font-weight: 300;
  padding: 0 1rem;
}

.landing-page__intro .btn {
  margin-top: 30px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(#00d192), color-stop(#00cbbb), color-stop(#00c2d4), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
  color: white;
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  .landing-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 1335px;
  }
  .landing-page__jumbotron {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: -4rem;
    padding: 0;
    width: 1600px;
  }
  .landing-page__jumbotron .image {
    left: 7rem;
    top: 0;
    max-width: 100%;
    z-index: 4;
  }
  .landing-page__intro {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 169px;
    margin-left: 3rem;
    text-align: left;
    padding: 0rem 5rem 0rem 0rem;
  }
  .landing-page__intro h1 {
    text-align: left;
    font-size: 2.8rem;
  }
  .landing-page__intro p {
    text-align: left;
  }
  .landing-page__intro .btn {
    text-align: left;
    margin-left: 1rem;
  }
  .landing-page::after {
    content: "adasd";
    background: url("https://raw.githubusercontent.com/irfan-fauzi/front-end-mentor/8f74a1e3b987e2991db3c0e1e27ee2691711296b/easybank-landing-page-master/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 580px;
    top: -6rem;
  }
}

.reason-section {
  background-color: #f3f4f6;
  margin-top: 4rem;
  padding: 3rem 0;
}

.reason-section__intro {
  text-align: center;
}

.reason-section__intro h1 {
  font-weight: 300;
  font-size: 2rem;
  padding: 0 2rem;
  color: #2d314d;
}

.reason-section__intro p {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.9rem;
  color: #a79f9f;
  font-weight: 300;
  padding: 0 1.5rem;
}

.reason-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.reason-section .container__reason-box {
  margin-top: 3rem;
  text-align: center;
}

.reason-section .container__reason-box h3 {
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 0 0 0;
  color: #2d314d;
}

.reason-section .container__reason-box p {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.9rem;
  color: #a79f9f;
  font-weight: 300;
  padding: 0 1.5rem;
}

@media only screen and (min-width: 992px) {
  .reason-section {
    padding: 0 2rem;
    width: 1335px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -10rem;
  }
  .reason-section__intro {
    width: 600px;
  }
  .reason-section__intro h1, .reason-section__intro p {
    text-align: left;
  }
  .reason-section .container__reason-box {
    text-align: left;
  }
  .reason-section .container__reason-box .img {
    margin-left: 2rem;
  }
  .reason-section .container__reason-box h3, .reason-section .container__reason-box p {
    text-align: left;
  }
  .reason-section .container__reason-box h3 {
    padding-left: 1.5rem;
  }
}

.articles {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.articles .caption {
  text-align: center;
}

.articles .caption h1 {
  font-weight: 300;
  font-size: 1.7rem;
  padding: 1rem;
  color: #2d314d;
}

.articles .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
}

.articles .container__box-articles {
  margin-top: 1rem;
}

.articles .container__box-articles img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(80% - 4.8rem);
}

.articles .container__box-articles article {
  padding: 1.5rem;
}

.articles .container__box-articles article span {
  color: gray;
  font-size: 0.5rem;
}

.articles .container__box-articles article .title-article {
  color: #2d314d;
  font-weight: 300;
  margin-top: 0.5rem;
}

.articles .container__box-articles article p {
  font-weight: 300;
  font-size: 0.9rem;
  color: gray;
  margin-top: 0.7rem;
}

@media only screen and (min-width: 992px) {
  .articles {
    width: 1335px;
    padding: 0 3rem;
    margin-top: 3rem;
  }
  .articles .container__box-articles {
    margin-top: 3rem;
  }
  .articles .caption {
    text-align: left;
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #2d314d;
}

footer .logo {
  fill: white;
}

footer .sm {
  margin-left: 0.4rem;
  padding: 1.5rem 0;
}

footer .about {
  color: #fafafa;
  font-size: 0.9rem;
  line-height: 2;
  font-weight: 200;
}

footer .btn {
  margin-top: 30px;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(#00d192), color-stop(#00cbbb), color-stop(#00c2d4), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #00d192, #00cbbb, #00c2d4, #2bb7da);
  color: white;
  font-weight: 700;
}

footer .rights {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: center;
  font-size: 0.9rem;
  color: #a79f9f;
  font-weight: 300;
  padding: 1rem;
}

@media only screen and (min-width: 992px) {
  footer {
    margin-top: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .about {
    line-height: 1.5;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 2rem 0;
  }
  .container1 {
    margin: auto;
    margin-left: 3rem;
  }
  .container3 {
    margin: auto;
    text-align: right;
  }
  .container3 .btn {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */